*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&display=swap');


:root {

    /* -----Background-color---------- */

    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;



    /* Text-style */

    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e4e4e4;

} 

body{
    background-color: var(--bg-white);
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.375rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-black);
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.main-btn{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: 0.0625rem solid var(--primary-color);
    padding: 0.375rem 1.875rem;
    border-radius: 3.125rem;
    /* display: block; */
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-black);
}

.header_wrapper .navbar{
    padding: 0.9375rem 0;
    background-color: var(--bg-white);
    box-shadow: 5px 10px 8px #888888;
    /* box-shadow: 0 .5rem 0.375rem -0.375rem rgb(0 0 0 / 40%); */
    /* box-shadow: 0 .5rem 0.375rem  rgb(0 0 0 / 40%); */
    box-shadow: 0 .5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    --webkit-box-shadow: 0.5rem 0.375rem -0.375rem rgb(0 0 0 / 40%);
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out os, opacity 0s ease-in-out 0s;
    webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out os, opacity 0s ease-in-out 0s;

}

.header_wrapper .nav-item{
    margin: 0 .625rem;
}

.header_wrapper .nav-item .nav-link{
    font-size: 18px;
    font-weight: 500;
}

.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:active{
    color: var(--secondary-color);
}




.carousel-item{
    height: 523px;
}


.carousel-caption h5{
    position: absolute;
    top: -701%;
    left: 21%;
    font-size: 64px;
    font-family: 'Merriweather', serif;
}

.carousel-caption p{
    position: absolute;
    top: -434%;
    left: 28%;
    font-family: 'Abril Fatface', cursive;
}

.booking-area{
    background: var(--bg-white);
    box-shadow: 0.625rem 0.9375rem 0 rgb(0 0 0 / 10%);
    margin-top: -4rem;
    z-index: 999999;
    position: relative;
    padding: 3.125rem 1.875rem ;
}
